@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 40px;

}

/* Handle */
::-webkit-scrollbar-thumb:hover {
  background: #888;
  border-radius: 40px;

}

*:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
  border-radius: 40px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Mui-active,
.Mui-completed {
  color: #5946ad !important;
}

@layer utilities {
  .active_dashboard_link {
    @apply bg-dark-purple text-white
  }

  .active_class_tab {
    @apply text-dark-purple bg-gray-50
  }
}

@layer base {
  .dashboard_link {
    @apply w-full block text-content px-3 py-4 rounded-2xl mb-2
  }

  .custom_height {
    @apply h-[calc(100vh-80px)]
  }

  .custom_height_preview {
    @apply h-[calc(100vh-300px)]
  }
}